@import '~bootstrap/scss/bootstrap';
@import './var.scss';

// $main_red: #ffc1cf;
// $main_blue: #cdf2f1;
// $main_black: #333;
// $main_gray: #aaa;

.main {
  // max-width: 1920px;
  background: #fff;
  padding: 0;
  outline: none;
  transition: all 0.5s;

  p,
  h4,
  a,
  span,
  li,
  button {
    @include font_r;
    outline: none;
  }

  h1 {
    @include font_eb;
  }

  h2 {
    @include font_b;
  }

  h3 {
    @include font_b($font_size: 15px);
  }

  ul,
  li {
    list-style: none;
  }

  .btn {
    @include font_b($font_size: 15px);
  }

  a {
    text-decoration: none;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      height: 2px;
      background: $main_black;
      width: 0;
      left: 0;
      top: 50%;
      transition: all 0.5s;
    }
  }

  a:hover::after {
    width: 100%;
  }

  input {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .menu_list {
    @include font_eb($font_size: 40px);
    &::after {
      height: 5px;
    }
  }

  .loading {
    position: relative;
    margin: 50px auto;
    left: 0;
    right: 0;
    color: $main_red;
    &::before {
      animation: ro 1s infinite linear;
      position: absolute;
    }
  }

  @keyframes ro {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .modal {
    .modal-content {
      padding-bottom: 20px;
      border: none;
    }
    .close {
      display: block;
      text-align: right;
      span {
        font-size: 30px;
        margin: 10px 20px;
        display: inline-block;
      }
    }
    .item_img {
      width: 100%;
      height: 0;
      padding-bottom: 100%;
      position: relative;
      background-position: center;
      background-size: cover;
      margin: 0 20px 20px 0;
    }
    .item_img::before {
      display: none;
    }
    .item_price h4 {
      @include font_b($font_color: $main_gray, $font_size: 15px);
      &:last-child {
        @include font_b($font_color: $main_red, $font_size: 15px);
      }
    }

    .item_btn {
      background: $main_blue;
      display: block;
      margin: 10px 0;
      width: 100%;
    }

    .item_qty {
      outline: none;
    }
  }
}
